#message , div.message{
    border: #ff0000;
    background:#FFCC00;
    padding: 20px;
    border: 1px solid #a2a2a2;
}
table.calendar, table.dayList, table.calendarYear{
    border-collapse:collapse;
    min-width: 708px;
    width: 99%;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
}
table.calendarYear{
    width: 48%;
    min-width: 150px;
    float:left;
    margin: 0 10px 10px 0;
    height: 195px;
}
table.calendarYear tr.title th{
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
}
table.calendar th, table.calendarYear th, table.dayList th{
    border-bottom: 1px solid #000;
    padding:8px 3px;
    background: #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align:center;
}
table.dayList th{
    text-align:left;
}
table.calendarYear th{
    font-size: .9em;
}
table.calendar td, table.calendarYear td {
    vertical-align:text-top;
    border: 1px solid #a2a2a2;
    padding:3px;
    min-width: 94px;
    width:14%;
    font-size: 1em;/* 12px */
}
table.dayList td {
    vertical-align:text-top;
    border-bottom: 1px solid #a2a2a2;
    padding:8px 3px;
    min-width: 50px;
}
table.dayList .timeColumn {
    width: 100px;
}
table.calendarYear td{
    min-width: 45px;
text-align:center;
}
table.calendarYear td a.hasEvents{
    color: #B88E10;
}
table.calendarYear td a.noEvents{
    color: #000;
}
table.calendar td.grey{
    background: #e4e4e4;
    color: #777;
}
table.calendarYear td.grey a{
    color: #fff;
}
table.calendar td:hover,
table.calendarYear td:hover, 
table.calendar td.grey:hover{
    background: #fddd6e;
    color:#000;
}
table.calendarYear td.grey:hover{
    background: #FFF;
    color:#fff;
}
td div.dayWrapper{
    min-height: 100px;
}
table.calendar td span.eTime,
table.calendar td span.allDay{
    color:#333;
    font-size: 11px;
}
table.calendar td a.addEvent{
    color: #aaa;
    text-decoration:none;
}
table.calendar td a.addEvent:hover{
    color: #222;
    font-weight:bold;
}
table.calendar td hr{
    width: 80%;
    margin: 5px auto;
}
table.calendar td ul.dayList{
    padding:0;
    margin:0;
}
table.calendar td ul.dayList li{
    list-style:none;
    padding:5px 3px;
    margin:0;
}
table.calendar ul.dayList li.chEvent a{
    text-decoration:none;
}
table.calendar ul.dayList  li.chEvent a:hover{
    text-decoration:underline;
}
table.calendar td ul li.border{
    border-top:1px dashed #a2a2a2;
}
ul#cal_nav{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    height: 40px;
}
ul#cal_nav li{
    display:block;
    width: 33%;
    float:left;
    margin:0;
    padding: 10px 0;
    text-align:center;
}
ul#cal_nav li.title{
    font-weight:bold;
    font-size:14px;
}
/* View Tabs */
/*********** TABS ****************/
ul#view_tabs{
    list-style:none;
    text-align:center;
    vertical-align:text-bottom;
    height:28px;
    padding:0;
    margin-bottom:10px;
    width:100%;
    border-left: 1px solid #888;
}
ul#view_tabs li{
    display:block;
    float:left;
    width:80px;
    height:26px;
    margin:0;
    padding:0;
    border: 1px solid #888;
    border-left:none;
}
ul#view_tabs li a{
    width:80px;
    display: block;
    color:#000;
    color: #3c65bc;
    font-size: 14px; 
    height: 26px;
    line-height:23px;
    padding:0;
    background: #f6f6f6;
    text-align:center;
    text-decoration:none;
}
ul#view_tabs li a:hover{
    background:#a2a2a2;
}
ul#view_tabs li.selected a{
    background: #d3d3d8; 
}


/* Event View */
#church_events_wrapper ul{
    margin-left: 25px;
}